@import 'src/xapi-theme.scss';

main{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 116px);

  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: $primary;
  margin: 0 10%;
  padding-bottom: 40px;
}

md-toolbar{
  margin-bottom: 20px;

  .title{
    flex: 1 1 auto;
    text-align: center;
  }

  .logo{
    position: absolute;
  }
}

footer{
  height: 32px;
  background-color: $primary;
}

h2{
  font-weight: normal;
}

.text-light{
  color: $grey500;
}

//
