@import 'src/xapi-theme.scss';

main{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 156px);

  color: $red;
  margin: 0 10%;
  padding-bottom: 40px;
}

header{
  margin-bottom: 20px;
  background: $red;
  height: 64px;
  color: white;
  font-size: 1.5em;

  .logo{
    position: absolute;
    left: 20px;
  }
}

footer{
  height: 32px;
  background-color: $red;
}

/deep/ .card{
  background: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 3px;
}

// General

/deep/ .xapi-label{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-bottom: 5px;
  margin-left: 1px;
  font-size: 1em;
  color: $grey-dark;
}

/deep/ .xapi-submit{
  height: 32px;
  padding: 0 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  background: $red;
  color: white;
  border: none;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  outline: none;
  font-weight: bold;

  &:disabled{
    background: $grey-light;
    color: $grey;
  }

  &:hover:enabled{
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
  }
}

/deep/ .xapi-input{
  height: 30px;
  border: 1px solid $grey-light;
  display: inline-block;
  line-height: 30px;
  border-radius: 2px;
  width: 400px;
  padding-left: 5px;
  font-family: Roboto,"Helvetica Neue",sans-serif;

  &:focus{
    outline: none;
    border: 1px solid $red;
  }
}

/deep/ .xapi-radio{
  position: relative;
  label{
    &:hover{
      input:not(:checked) ~{
        .check{
          border: 3px solid $grey-dark;
        }
        .text{
          color: $grey-dark;
        }
      }

    }
    cursor: pointer;
    line-height: 16px;
    position: relative;
    padding-left: 18px;
  }

  .text{
    color: grey;
    transition: 0.25s linear;
  }

  input{
    visibility: hidden;
  }

  .check{
    position: absolute;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 0px;
    left: 20px;
    transition: border .25s linear;
  }

  .check::before {
    display: block;
    position: absolute;
  	content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2px;
  	left: 2px;
    margin: auto;
  	transition: background 0.25s linear;
  }

  input:checked ~{
    .check {
      border: 3px solid $red;
    }

    .check::before{
      background: $red;
    }

    .text{
      color: $red;
    }
  }
}

/deep/ .xapi-account-selection, /deep/ .xapi-recipient-selection{
  .card-wrapper{
    text-align: center;

    .card-contact{
      margin: 20px auto;
      text-align: center;
      display: inline-block;
      padding: 0;

      .card-footer{
        padding: 10px 20px 20px 20px;
      }

      .card-header{
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .card-title, .material-icons{
        color: $red;
      }
      .card-footer{
        color: $grey;
      }

      div{
        line-height: 20px;
      }

      &:hover{
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

      &.highlight{
        .card-header{
          background-color: $red;
        }

        .card-title, .material-icons{
          color: white;
        }
      }
    }
  }
}

.text-light{
  color: $grey;
}
