@import '~@angular/material/core/theming/all-theme';
@include mat-core();

$xapi-primary: mat-palette($mat-red, A200, A100, A900);
$xapi-accent: mat-palette($mat-pink, A200, A100, A400);
$xapi-warn: mat-palette($mat-indigo, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$xapi-theme: mat-light-theme($xapi-primary, $xapi-accent, $xapi-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($xapi-theme);

$primary: mat-color($xapi-primary);

$small: 14px;

$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;

$green700: #388E3C;


.material-icons.md-18 { font-size: 18px; width: 48px; height: 48px;}
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px;  width: 48px; height: 48px;}
